
.gradle/
build/
out/
bin/



.idea/
*.iml
*.ipr
*.iws


.classpath
.project
.settings/


.vscode/

run/
logs/
*.log
crash-reports/
saves/
screenshots/
replay_videos/


local.properties
secrets.properties
*.env
config/secrets/
api-keys.properties


remappedSrc/
.cache/


.DS_Store
Thumbs.db


eventui-common/gradle/
eventui-core/gradle/
eventui-fabric/gradle/
